<div class="emails-editor">
        <span ng-repeat="email in emails" class="emails-editor__emails">
            <span class="emails-editor__email-item" ng-class="{'emails-editor__email_item_error': !testEmail(email)}">
                <span class="emails-editor__email-content"
                      ng-class="{'emails-editor__email-content_error': !testEmail(email)}">{{email}}</span>
                <span class="emails-editor__email-delete" ng-click="removeEmail(email)">×</span>
            </span>
        </span>
    <input type="text"
           ng-model="currentInput"
           ng-blur="addEmail()"
           ng-keydown="keyPress($event)"
           ng-paste="paste($event)"
           placeholder="add more people..."
           class="emails-editor__email-input"
           ng-keyup="keyUp($event)"/>
</div>