<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>RealTimeBoard test</title>
</head>
<body>
<div ng-controller="AppController as controller" class="app">
    <div class="app__title">Share “Board name“ with others</div>
    <emails-editor emails="controller.emails"></emails-editor>
    <div class="app__buttons">
        <button class="app__btn" ng-click="controller.addRandomEmail()">Add email</button>
        <button class="app__btn" style="margin-left: 20px;padding: 5px 10px;"
                ng-click="controller.showCnt()">Get emails count
        </button>
    </div>
</div>
<script src="bundle.js"></script>
</body>
</html>